.container-jumbotron{
    height: 100%;
    background-color: rgba(220, 220, 220, 1);
    text-align: center;
}
.jumbotron-text{
    width: 70%;
    margin: auto;
}
.text-jumbotron{
    margin-top: 50px;
    color: grey;
}
.titre-jumbotron{
    padding-top: 2rem;
    color: black;
}
.border-titre-jumbotron{
    border-bottom: 1px solid red;
    width: 100px;
    margin: auto;
}
.point-animation{
    font-size: 200px;
    margin-top: -100px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.point-animation a{
    color:red;
    text-decoration: none;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
